<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<% @photos.each do |photo| %>
<div class="row">
  <div class="col-md-12 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panels-heading">
        <h3 class ="panel-title">
          <%= photo.user_id %></h3>
          <h4><%= time_ago_in_words(photo.created_at) %></h4>
        </div>
        <div class="panel-body">
          <a href=""><img src="<%= photo.image %>" class="img-responsive"></a>
        </div>

        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#">

              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              ...
            </div>
          </li>
        </ul>


        <tr>
          <td></td>
          <td></td>
          <td><%= photo.user_id %></td>
          <td>
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          </td>
        </tr>
        <% end %>
      </div>
    </div>
  </div>
